<body>
        <section id="header">
            <h1 class="maintitle">Welcome to ITC Compliance</h1>
            <h2 class="tagline">Insurance from the Best</h2>

        </section>
        <section id='main'>
			<div id='error'>
				{{ERROR}}
			</div>
		</section>