<body>
        <section id="header">
            <h1 class="maintitle">Welcome to ITC Compliance</h1>
            <h2 class="tagline">Insurance from the Best</h2>

        </section>
        <section id='main'>
        	<p class="opening">Please browse our insurance products below</p>

			<ul class="list_products">
			    {{PRODUCTS}}
			</ul>
		</section>