<body>
        <section id="header">
            <h1 class="maintitle">Welcome to ITC Compliance</h1>
            <h2 class="tagline">Insurance from the Best</h2>
        </section>
        <section id='main'>
			<div id='content'>
				<h3>{{NAME}}</h3>
				<p>Type: {{TYPE}}</p>
				<p>{{DESCRIPTION}}</p>
				<h5>Suppliers</h5>
				<ul>
					{{SUPPLIERS}}
				</ul>
			</div>
		</section>
